body {
    margin: 20px auto;
    width: 90%;
	text-rendering: geometricPrecision;
}
nav ul, footer ul {
    font-family:'PT Sans';
    padding: 0px;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
}
nav ul li, footer ul li {
    display: inline-block;
    top: 0;
    right: 0;
}

