<html>
  
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
                <!-- <strong>Date: <span id="date"></span> </strong> -->
                <div style = "position:absolute; left:100px; top:50px; color:green;">
                      <strong > <span id="date"></span> </strong>
                </div>
                <div style = "position:absolute; left:950px; top:50px; color:green;"> 
                <strong > <span id="time"></span> </strong>
                </div>  
    <script>
      var dD = new Date();
      var dT = new Date();
      document.getElementById("date").innerHTML = dD.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
      document.getElementById("time").innerHTML = dT.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
    </script>
  
</html>
