<html>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
                <!-- <strong>Date: <span id="date"></span> </strong> -->
                <div style = "position:absolute; left:100px; top:25px; color:green;">
                  <i class="material-icons">perm_contact_calendar</i>
                      <strong > <span id="date"></span> </strong>
                </div>
                <div style = "position:absolute; left:1100px; top:25px; color:green;"> 
                  <i class="material-icons" >alarm</i>
                <strong > <span id="time"></span> </strong>
                </div>
                <div style = "position:absolute; left:575px; top:25px; color:green;"> 
                  {% include menu.html menu=site.external %} </div>   
  
    <script>
      var dD = new Date();
      var dT = new Date();
      document.getElementById("date").innerHTML = dD.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
      document.getElementById("time").innerHTML = dT.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
    </script>
  
</html>
