<html>
                <!-- <strong>Date: <span id="date"></span> </strong> -->
                <div style = "position:fixed; left:80px; top:50px; color:green;">
                      <strong > <span id="date"></span> </strong>
                </div>
                <div style = "position:fixed; left:1080px; top:50px; color:green;">
                <strong > <span id="time"></span> </strong>
                </div>  
    <script>
      var dD = new Date()
      var dT = new Date();
      document.getElementById("date").innerHTML = dD.toLocaleDateString();
      document.getElementById("time").innerHTML = dT.toLocaleTimeString();
    </script>
  </html>
