 <div class="row time-settings">

                        <!--<calendar>-->
                        <div class="calendar-box col-md-5">
                            <span class="media icon-text current-date">
                                <span class="left-icon lnr lnr-calendar-full"></span><span
                                    class="main-title">बुधबार, माघ २५, २०७९</span>
                            </span>

                            <span class="media icon-text current-date current-time">
                                <span class="left-icon lnr lnr-clock"></span><span class="main-title"
                                    id="live-time"></span>
                            </span>
                        </div>
                        <!--</calendar>-->
<nav>
	<ul>
		{% for item in site.data.social %}
			<li>
				<a rel="me" href="{{ item.link }}">{{ item.name }}</a>
			</li>
		{% endfor %}
		<br/>
		<br/>
		<br/>
		{% for item in site.data.navigation %}
			<li>
				<a href="{{ item.link }}" style="font-size:25px;">{{ item.name }}</a>
			</li>
		<a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
                <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
                <span aria-hidden="true">{{ title }}</span>
                 </a>
		{% endfor %}
	</ul>
</nav>

