 <nav>
	<ul>
		{% for item in site.data.social %}
			<li>
				<a rel="me" href="{{ item.link }}">{{ item.name }}</a>
			</li>
		{% endfor %}
		<br/>
		<br/>
		<br/>
		{% for item in site.data.navigation %}
			<li>
				<a href="{{ item.link }}" style="font-size:25px;">{{ item.name }}</a>
			</li>
		<a aria-label="{{ title }}"  href="/css/main.css" {% if url == page.url %}class="selected"{% endif %}>
                <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
                <span aria-hidden="true">{{ title }}</span>
                 </a>
		{% endfor %}
	</ul>
</nav>

