 <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WP3P84G');
    </script>
    <!-- End Google Tag Manager -->

<nav>
	<ul>
		{% for item in site.data.social %}
			<li>
				<a rel="me" href="{{ item.link }}">{{ item.name }}</a>
			</li>
		{% endfor %}
		<br/>
		<br/>
		<br/>
		{% for item in site.data.navigation %}
			<li>
				<a href="{{ item.link }}" style="font-size:25px;">{{ item.name }}</a>
			</li>
		<a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
                <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
                <span aria-hidden="true">{{ title }}</span>
                 </a>
		{% endfor %}
	</ul>
</nav>

